*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 15px;

    flex-wrap: wrap;
    background-color: rgb(246, 241, 241);
    padding:20px;

    
}
.card{

    width: 320px;
    height:430px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    border: 1px solid black;
    transition: all .4s;




}
.card:hover{
    box-shadow: 7px 5px 29px -11px rgba(0,0,0,0.75);
}

/* .card p{

    font-size: 20px;
} */

.mutual{

    font-size: 14px;
    color: rgb(56, 53, 53);
}
.mutual i{
    margin-right:5px ;

}

button i{
    margin-right:5px ;

}

.info{

    font-size:19px ;
    color: rgb(56, 53, 53);
    /* margin-bottom: 10px; */
}

.card a{
    font-size:14px ;
    text-decoration: none;
    color:black;

}

.card img{

    height: 180px;
}

button{
    font-size: 20px;

    padding-inline: 80px;
    padding-block: 5px;
    border-radius: 20p                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              x;
    color: rgb(45, 39, 204);
    background: white;
    border: 2px solid rgb(45, 39, 204);
    font-weight: 700;
    transition: all .4s;
}

button:hover{
    background-color: rgb(200, 200, 218);
}

